extends layout

include mixins/_storeCard

block content 
    .inner
        pre= stores
        h2 Your Account

        hr

        h2.account-h2 Your Stores

        hr

        h2.account-h2 Your Reviews

        hr

        h2.account-h2 Edit Your Info
        form.form(action="/account" method="post")
            label(for="name") Name
            input(type="text" name="name" value=user.name)
            label(for="email") Email
            input(type="email" name="email" value=user.email)
            input.button(type="submit" value="Update My Account") 

