extends layout

include mixins/_storeCard

block content
    .subhead Which Texas city has the supreme cuisine? 

    .inner
        h2 City Rankings
        .ratings 
            .ratings-most-cities
                h2.ratings-subhead Most added restaurants:
                    each city in cities 
                        p #{city._id} #{city.count}
            .ratings-top-reviews   
                h2.ratings-subhead  Best reviews:  
                    p asdasd
                    p asdasd
                    p asdasd
                    p asdasd 
                    p asdasd

        h2 All Restaurants
        .stores
            each store in stores
                +storeCard(store)
            