extends layout

block content
    .inner 
        h2 Map
            .map
                .autocomplete
                    input.autocomplete__input(type="text" placeholder="Search for city" name="geolocate")
                #map
                    p Loading map...