.footer {
    width: 100%;
    border-top: 1px solid $black;
    text-align: center;
    padding: 2.5rem;

    &-img {
        height: 2rem;
    }

    &-flex {
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 1.8rem;
    }
}