.hide {
    text-indent: -999999px;
    font-size: 0;
  }
  
  .button {
    border: 0;
    border-right: 1px solid $yellow;
    background: $yellow;
    color: $black;
    font-size:1.8rem;
    font-family: 'Oswald';
    font-weight: 600;
    margin-top: 2px;

    &:hover {
      cursor: pointer;
    }

  }
  
  .avatar {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   align-self: center;
  }
  
  .card {
    background: $white;
    padding: 5rem;
    box-shadow: 0 1px 10px rgba($black, .15);
  }
  
  pre.error {
    padding: 5rem;
    background: $white;
    line-height: 3;
    white-space: pre-line;
  }