*, *:before, *:after {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
  
body {
  &:before {
    content: '';
    display: block;
    // background: $blue-grad;
    // height: 15px;
    width: 100%;
  }
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}



  