*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing:border-box 
}
html, body {
  height: 100%;
}
  
.inner {
  max-width:900px;
  margin: 4rem auto;
  @media all and (max-width: 1100px) {
    padding-top: 3rem;
  }
}

.content {
  @media all and (max-width: 950px) {
    width: 95%;
    margin: 0 auto;
  }
}

.subhead {
  text-align: center;
  margin: -3rem auto 3rem;
  height: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 3px solid $yellow;
  width: 50%;
  font-weight: 600;

  @media all and (max-width: 1100px) {
    margin: 0;
    position: absolute;
    left: 27rem;
    top: 4rem;
    height:4rem;
    width: 40rem;
    font-size: 1.6rem;
  }

  @media all and (max-width: 945px) {
    font-size: 1.4rem;
    width: 35rem
  }

  @media all and (max-width: 900px) {
    position: absolute;
    top: 2rem;
    left: 30%;
    height: 3rem;
  }

  @media all and (max-width: 620px) {
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2.4rem;
    font-size:3.6vw;
    width: 90%;
  }
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
.footer,
.push {
  height: 100px;
}



  