html {
    font-size: 10px;
  }
  
  body {
    background: purple;
    background:#efefef;
    &:before {
      content: '';
      display: block;
      background: grey;
      height: 10px;
      width: 100%;
    }
  }


.test { 
  color: red;       
}
  