.nav {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 11rem;
    font-size: 1.8rem;
    position: relative;
    top: 0;
    left: 0;

    &-head {
        position: absolute;
        top: 2rem;
        left: 5rem;
        @media all and (max-width: 900px) {
            top: 1rem;
        }

        @media all and (max-width: 620px) {
            left: 50%;
            transform: translateX(-50%);
        }

        &-logo {
            height: 13rem;

            @media all and (max-width: 1190px) {
                height: 9rem;
            }
            @media all and (max-width: 900px) {
                height: 5rem;
            }

            
        }
    }

    &-container{
        position: absolute;
        top: 5rem;
        left: 33rem;

        @media all and (max-width: 1190px) {
            left: 27rem;
        }

        @media all and (max-width: 1100px) {
            left: 5rem;
            top: 13.5rem;
          }

        @media all and (max-width: 900px) {
            left: 5rem;
            top:7rem;
        }

        @media all and (max-width: 620px) {
            width: 100%;
            top: 10.5rem;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        &-item {
            &:not(:last-child) {
                border-right: 1px solid rgba($black, .3);
            }
            padding: .5rem 1rem;
            text-align:center;
            transition: transform .3s ease;

            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                border-bottom: 2px solid $black;
            }
        }
    }

    &-search {
        position: absolute;
        top: 5rem;
        right: 32rem;
        align-items: center;
        display: flex;
        height: 1.2rem;
        width: 20rem;
        font-size: 1.6rem;
        border: 1px solid $black;
        background: none;
        padding: 1.5rem .5rem;

        @media all and (max-width: 1190px) {
            right: 30rem;
        }

        @media all and (max-width: 1100px) {
            top: 12.5rem;
            left: 40rem;
            height: 5rem;
            width: 30%;
        }

        @media all and (max-width: 900px) {
            width:80%;
            height: 4rem;
            left: 50%;
            transform: translateX(-50%);
        }

        @media all and (max-width: 620px) {
            top: 19rem;
        }
    }
    &-reg {
        position: absolute;
        top: 5rem;
        right: 5rem;
        text-align: center;
        align-items: center;
        display: flex;

        @media all and (max-width: 900px) {
            right: 5rem;
            top:7rem;
        }

        @media all and (max-width: 620px) {
            top: 14rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            justify-content: center;
        }

        &-numstars {
            position: absolute;
            color: $yellow;
            text-align: center;
            font-size: 1.6rem;
            top: 1.5rem;
            left: 4.3rem;
        }

        &-star {
            height: 4rem;
        }

        &-item {

            &-nound {
                position: relative;
                transition: transform .3s ease;
                margin: 0 1rem;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-2px);
                }
            }
            width:7rem;
            margin-left: 2rem;
            margin-right:.5rem;
            text-align:center;
            text-decoration: none;
            transition: transform .3s ease;

            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                border-bottom: 2px solid $black;
            }
        }
    }
}