.nav {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 11rem;
    font-size: 1.8rem;
    background-color: $dar-grey;

    &-head {
        &-logo {
            height: 9rem;
        }
    }

    &-container{
        align-items: center;
        display: flex;

        &-item {
            &:not(:last-child) {
                border-right: 1px solid rgba($white, .3);
            }
            width:7rem;
            text-align:center;
            color: $white;
            transition: transform .3s ease;

            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                border-bottom: 2px solid $white;
            }
        }
    }

    &-search {
        position: relative;
        align-items: center;
        display: flex;
        height: 1.5rem;
        font-size: 2.2rem;
        border: 1px solid rgba($white, .3);
        color: $white;
        background: none;
    }
    &-reg {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-star {
            height: 3rem;
        }

        &-item {

            &-nound {
                transition: transform .3s ease;
                margin: 0 1rem;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-2px);
                }
            }
            width:8rem;
            text-align:center;
            text-decoration: none;
            color: $white;
            transition: transform .3s ease;

            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                border-bottom: 2px solid $white;
            }
        }
    }
}