.search {
    position: relative;
    display: flex;
    &__results {
      background: $white;
      position: absolute;
      width: 20rem;
      top: 9rem;
      right:29rem;
      box-shadow: 3px 3px rgba($black, 0.2);
      z-index: 5;

      @media all and (max-width: 1190px) {
        top: 17.5rem;
        left: 50rem;
        width: 30%;
      }

      @media all and (max-width: 900px) {
        width:80%;
        left: 50%;
        transform: translateX(-50%);
      }

      @media all and (max-width: 725px) { 
        top: 23rem;
      }
    }
    &__result {
      color: $black;
      padding: 10px;
      display: block;
      border-bottom: 1px solid $black;
      &--active {
        background: $blue-4;
        color: $white;
      }
    }
  }
  
  