.stores {
  display:flex;
  flex-wrap:wrap;
  margin: -1.25em 0 4em -1.25em;
}

.store {
  background:$white;
  border: 1px solid $black;
  margin: 1.25em 0 0 1.25em;
  width: calc(48% - 1.25em);
  height: 30rem;
  box-shadow: 3px 3px $black;
  &--wide {
    width: 100%;
  }
  &-recommend {
    align-items: center;
    display: flex;

    &-buttons {
      display: flex;
    }

    &-value {
      font-size: 1.8rem;
    }

    &-real {
      display: none;
    }

    &-button {
      padding: 1rem 2rem;
      background-color: $yellow;
      width: 15rem;
      border: none;
      margin: 1rem;
      font-size: 1.8rem;
      color: $white;
      text-align: center;
      box-shadow: 3px 3px rgba(#888, .7);
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 4px 4px 1px rgba(#888, .5);
      }

      &:active {
        transform: translateY(1px);
        box-shadow: 1px 1px rgba(#888, .5);
      }

      &:focus{
        outline: none;
      }
    }

  }
  &__details {
    padding: 2rem;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: calc(50% - 1.25em);
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.store__actions {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.store__action {
  svg {
    width: 25px;
    fill: white
  }
  &--edit {
    a {
      border-bottom: 0;
      color: $white;

    }
  }
}


.store__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right;
  &:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0.6;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}