.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .tag {
    display: block;
    margin: 3px;
    margin-right: 1rem;
    &__choice {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      input {
        width: auto;
        right: -1.5rem;
        margin-right: -1rem;
        position: relative;
        z-index: 2;
        & + label {
          background: $blue-4;
          color: $white;
          padding: 1rem 1rem 1rem 4rem;

          &:hover {
            cursor: pointer;
          }
        }
        &:checked + label {
          background: $yellow ;
        }
      }
    }
    &__link {
      background: $yellow;
      color:$black;
      display: flex;
      padding-left: 10px;
      box-shadow: 1px 1px 1px rgba($blue-3, .8);
      &--active {
        background: $blue-4;
        .tag__text {
          color: $white;
        }
      }
    }
    &__text {
      padding: .5rem;
      display: block;
    }
    &__count {
      padding: .5rem;
      background: #f8f7fa;
      border-left: 2px solid rgba($black, 0.1);
      background-clip: padding-box;
    }

    &-h2 {
      margin: 0;
      font-size: 2rem;
    }
  }
  