$primary-blue: #25274b;
$secondary-blue: #464866;
$blue-3:#aaabb8;
$blue-4:#2e9cca;
$blue-5:#29648a;
$blue-grad: linear-gradient(90deg, $blue-4 0%, $blue-3 50%, $blue-5 60%, $secondary-blue 80%,  $primary-blue 90%);


$primary-font: 'Open Sans', sans-serif;
$font-head: 'Bitter', serif;